{% extends "bootstrap/base.html" %}
{% block title %}TC{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'doghead.jpeg') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'doghead.jpeg') }}"
          type="image/x-icon">
{% endblock %}

{% block navbar %}

    <div class="navbar navbar-inverse" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TC</a>
            </div>

            <div class="navbar-collapse collapse">
                {% block navebaritems %}
                    <ul class="nav navbar-nav">
                        <li><a href="/pack_file">Pack files</a></li>
                        <li><a href="/initialize_server">Initialize the server</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                {% endblock %}
            </div>

        </div>

    </div>

{% endblock %}


{% block content %}

    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p class="bg-warning">{{ message }}</p>
            </div>
        {% endfor %}

        {% if m %}
            <div class="page-header">
                <h1>  {{ m }}</h1>
            </div>
        {% else %}
            {% block page_content %}
                <div class="page-header">
                    <h1> Welcome to TC</h1>
                </div>

            {% endblock %}
        {% endif %}
    </div>

{% endblock %}